/* Navbar Section Starts Here*/

.navBar{
    position: center;
    height:75px;
}
/* Color of the tabs are all matching the co-exisiting layout */
.qtab__{
    height: 75px;
}
.q-tab__label,
.q-btn-dropdown
{
    font-size: 25px;
}
.shop,
.setup,
.support{
    color:yellow;
   
}
.learn,
.faq,
.contact{
    color:#389bff;
}
.q-item__section{
    color:#389bff;
    font-size: 20px;
    padding: 15px;
}
.q-item{
    background-color: #1d1d1d;
}

/* Navbar section ends here */

/* This section it the call to action main banner section! */
.callToAction{
    padding: 125px;
}
.shopbtn,
.videobtn{
    margin-right: 25px;
    margin-bottom: 100px;
    border-radius: 15px;
}

.faq-grid{
    width:50%
    
}

/* Video Player Section */

/* Media section starts here */

/* Media section ends here */