/* Navbar Section */

.navBar{
    margin-right:40%;
    height:75px;
}
/* Color of the tabs are all matching the co-exisiting layout */
::deep .q-tab_label{
    font-size: 100000px;
}
.shop,
.setup,
.support{
    color:yellow;
   
}
.learn,
.faq,
.contact{
    color:#389bff;
}
/* This section it the call to action main banner section! */
.callToAction{
    padding: 125px;
}
.shopbtn,
.videobtn{
    margin-right: 25px;
    margin-bottom: 100px;
    border-radius: 15px;
}

.faq-grid{
    width:50%
    
}

/* Video Player Section */